registry=https://nexus.digitalharbor.us/repository/set-npm-group/
email=artifacts@dharbor.com
always-auth=true
@digital-harbor:registry=http://npm.digitalharbor.us:4873
@sdv/viewer:registry=https://nexus.digitalharbor.us/repository/set-npm-private/
@sdv/sdv-core:registry=https://nexus.digitalharbor.us/repository/set-doodle-npm-private/
@sdv/sdv-components:registry=https://nexus.digitalharbor.us/repository/set-doodle-npm-private/
@set-social-services:registry=https://nexus.digitalharbor.us/repository/set-ss-npm-private/
//nexus.digitalharbor.us/repository/set-ss-npm-private/:email=artifacts@dharbor.com
//nexus.digitalharbor.us/repository/set-ss-npm-private/:_auth="Z2NvbmRvcmk6czlaRlFqV0MxZGN5ZHJLQQ=="
//nexus.digitalharbor.us/repository/set-ss-npm-private/:always-auth=true
@set:registry=https://nexus.digitalharbor.us/repository/set-npm-private/
//nexus.digitalharbor.us/repository/set-npm-private/:_auth="Z2NvbmRvcmk6czlaRlFqV0MxZGN5ZHJLQQ=="
//nexus.digitalharbor.us/repository/set-npm-private/:always-auth=true
//nexus.digitalharbor.us/repository/set-npm-private/:email=artifacts@dharbor.com
@sdv:registry=https://nexus.digitalharbor.us/repository/set-npm-group/
//nexus.digitalharbor.us/repository/set-npm-group/:email=artifacts@dharbor.com
//nexus.digitalharbor.us/repository/set-npm-group/:_auth="Z2NvbmRvcmk6czlaRlFqV0MxZGN5ZHJLQQ=="
//nexus.digitalharbor.us/repository/set-npm-group/:always-auth=true
//nexus.digitalharbor.us/repository/set-npm-group/:_auth="Z2NvbmRvcmk6czlaRlFqV0MxZGN5ZHJLQQ=="
@doodle:registry=https://nexus.digitalharbor.us/repository/set-doodle-npm-private/
//nexus.digitalharbor.us/repository/set-doodle-npm-private/:_auth=Z2NvbmRvcmk6czlaRlFqV0MxZGN5ZHJLQQ==
//nexus.digitalharbor.us/repository/set-doodle-npm-private/:always-auth=true
